[submodule "tiny-colors"]
	path = tiny-colors
	url = https://github.com/fabiospampinato/tiny-colors.git
[submodule "tiny-divider"]
	path = tiny-divider
	url = https://github.com/fabiospampinato/tiny-divider.git
[submodule "is"]
	path = is
	url = https://github.com/fabiospampinato/is.git
[submodule "string-from-charcodes"]
	path = string-from-charcodes
	url = https://github.com/fabiospampinato/string-from-charcodes.git
[submodule "uint8-encoding"]
	path = uint8-encoding
	url = https://github.com/fabiospampinato/uint8-encoding.git
[submodule "utf16le-encoding"]
	path = utf16le-encoding
	url = https://github.com/fabiospampinato/utf16le-encoding.git
[submodule "radix64-encoding"]
	path = radix64-encoding
	url = https://github.com/fabiospampinato/radix64-encoding.git
[submodule "hex-encoding"]
	path = hex-encoding
	url = https://github.com/fabiospampinato/hex-encoding.git
[submodule "base128-encoding"]
	path = base128-encoding
	url = https://github.com/fabiospampinato/base128-encoding.git
[submodule "base256-encoding"]
	path = base256-encoding
	url = https://github.com/fabiospampinato/base256-encoding.git
[submodule "decode-base64"]
	path = decode-base64
	url = https://github.com/fabiospampinato/decode-base64.git
[submodule "event-loop-yielder"]
	path = event-loop-yielder
	url = https://github.com/fabiospampinato/event-loop-yielder.git
[submodule "call-chainer"]
	path = call-chainer
	url = https://github.com/fabiospampinato/call-chainer.git
[submodule "tiny-webcrypto"]
	path = tiny-webcrypto
	url = https://github.com/fabiospampinato/tiny-webcrypto.git
[submodule "crypto-random-bigint"]
	path = crypto-random-bigint
	url = https://github.com/fabiospampinato/crypto-random-bigint.git
[submodule "crypto-random-hexadecimal"]
	path = crypto-random-hexadecimal
	url = https://github.com/fabiospampinato/crypto-random-hexadecimal.git
[submodule "crypto-random-uint8"]
	path = crypto-random-uint8
	url = https://github.com/fabiospampinato/crypto-random-uint8.git
[submodule "crypto-random-in-range"]
	path = crypto-random-in-range
	url = https://github.com/fabiospampinato/crypto-random-in-range.git
[submodule "uint8-to-hex"]
	path = uint8-to-hex
	url = https://github.com/fabiospampinato/uint8-to-hex.git
[submodule "crypto-sha"]
	path = crypto-sha
	url = https://github.com/fabiospampinato/crypto-sha.git
[submodule "once"]
	path = once
	url = https://github.com/fabiospampinato/once.git
[submodule "crypto-xxhash-64"]
	path = crypto-xxhash-64
	url = https://github.com/fabiospampinato/crypto-xxhash-64.git
[submodule "crypto-pbkdf2-hmac"]
	path = crypto-pbkdf2-hmac
	url = https://github.com/fabiospampinato/crypto-pbkdf2-hmac.git
[submodule "crypto-puzzle"]
	path = crypto-puzzle
	url = https://github.com/fabiospampinato/crypto-puzzle.git
[submodule "when-exit"]
	path = when-exit
	url = https://github.com/fabiospampinato/when-exit.git
[submodule "tiny-cursor"]
	path = tiny-cursor
	url = https://github.com/fabiospampinato/tiny-cursor.git
[submodule "tiny-diff"]
	path = tiny-diff
	url = https://github.com/fabiospampinato/tiny-diff.git
[submodule "noop-tag"]
	path = noop-tag
	url = https://github.com/fabiospampinato/noop-tag.git
